/*
.textfield {
    color: #FFFFFF;
    -fx-text-fill: #ffffff;
}


.textfield:focused {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #FDFDFD;
}
*/


.text-input {
    -fx-text-fill: -fx-text-inner-color;
}

.text-input:focused {
     -fx-highlight-fill: -fx-accent;
     -fx-highlight-text-fill: white;
}

.orderInputs {
    -fx-highlight-fill: -fx-accent;
     -fx-highlight-text-fill: white;
     -fx-text-inner-color: white;
}